body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
  background: linear-gradient(105deg, pink, rgba(0, 0, 0, 0.571));
}
.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  margin: 0 auto;
  width: 1000px;
}
h1 {
  background-color: navy;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  color: goldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}
.logo-cerchio {
  width: 150px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
