body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
  background: linear-gradient(105deg, pink, rgba(0, 0, 0, 0.571));
}

/* Titolo */
.titolo {
  background-color: navy;
  width: 650px;
  margin: 0 auto;
  text-align: center;
  color: goldenrod;
  margin-bottom: 30px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Label */
label {
  font-weight: bold;
  color: goldenrod;
}

/* Input e textarea */
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid goldenrod;
  border-radius: 6px;
  background-color: #fff8dc; /* crema chiaro */
  color: #333;
}

/* Bottone */
button {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: goldenrod;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

button:hover {
  background-color: #d4a017;
}

/* Card profilo */
.profile-card {
  margin-top: 40px;
  padding: 20px;
  background-color: white; /* bianco */
  border: 2px dashed goldenrod;
  border-radius: 10px;
  color: black;
}

.profile-card h3 {
  margin-bottom: 15px;
  color: goldenrod;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.profile-item {
  margin-bottom: 10px;
  font-size: 16px;
}

.profile-item span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: goldenrod;
}
footer {
  background-color: black;
  color: goldenrod;
  margin-top: 10px;
}
.navbar {
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-toggler-icon {
  color: goldenrod !important;
}
