body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
  background: linear-gradient(105deg, pink, rgba(0, 0, 0, 0.352));
}

h1 {
  background-color: navy;
  color: goldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header-container {
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
  width: 1200px;
}

.subtitles {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  margin-top: 20px;
  margin: 0 auto;
  width: 1200px;
  color: navy;
}

table {
  border: 10px double navy;
  border-collapse: separate;
  border-spacing: 30px;
  text-align: center;
}

table th,
table td {
  border: 2px dotted rgba(11, 11, 0, 0.751);
  padding: 10px;
}
footer {
  background-color: black;
  color: goldenrod;
  margin-top: 10px;
}
.navbar {
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-toggler-icon {
  color: goldenrod !important;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
  border-bottom: 4px solid black;
}

.card {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.logo-cerchio {
  width: 150px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
